<script type="text/x-handlebars-template">
    <!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop"><i class="icon-up-open-big"></i></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">

                <!-- header-left start -->
                <!-- ================ -->
                <div class="header-left clearfix">
                    <!-- logo -->
                    <div class="logo smooth-scroll">
                        <a href="#index/banner"><img id="logo" src="images/logo.png" style="height: 80px;" alt="Worthy"></a>
                    </div>

                    <!-- name-and-slogan -->
                    <div class="site-name-and-slogan smooth-scroll">
                        <div class="site-name"><a href="#banner">{{TITLE}}</a></div>
                        <div class="site-slogan">{{SUB_TITLE_1}}<a target="_blank" href="#">{{SUB_TITLE_2}}</a></div>
                    </div>
                </div>
                <!-- header-left end -->
            </div>
            <div class="col-md-8">

                <!-- header-right start -->
                <!-- ================ -->
                <div class="header-right clearfix">

                    <!-- main-navigation start -->
                    <!-- ================ -->
                    <div class="main-navigation">

                        <!-- navbar start -->
                        <!-- ================ -->
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="container-fluid">

                                <!-- Toggle get grouped for better mobile display -->
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>

                                <!-- Collect the nav links, forms, and other content for toggling -->
                                <div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="active"><a href="#index/banner">{{LINK_NAME_1}}</a></li>
                                        <li><a href="#index/about">{{LINK_NAME_2}}</a></li>
                                        <li><a href="#index/services">{{LINK_NAME_3}}</a></li>
                                        <li><a href="#world">{{LINK_NAME_4}}</a></li>
                                        <li><a href="javascipt:void(0);">{{LINK_NAME_5}}</a></li>
                                        <li><a href="#index/contact">{{LINK_NAME_6}}</a></li>
                                    </ul>
                                </div>

                            </div>
                        </nav>
                        <!-- navbar end -->

                    </div>
                    <!-- main-navigation end -->

                </div>
                <!-- header-right end -->

            </div>
        </div>
    </div>
</script>