<script type="text/x-handlebars-template">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="animatedParent">
					<h1 id="about" class="title text-center animated bounceIn">{{TITLE_1}}<span>{{TITLE_2}}</span></h1>
				</div>
				<p class="lead text-center">{{INFO}}</p>
				<div class="space"></div>
				<div class="row">
					<div class="col-md-6 animatedParent animateOnce">
						<img src="images/profile.jpg" class="img-circle animated swing" style="height: 500px;" alt="">
						<div class="space"></div>
					</div>
					<div class="col-md-6">
						<p>{{SUB_INFO_LINE_1}}</p>
						<p>{{SUB_INFO_LINE_2}}</p>
						<p>{{SUB_INFO_LINE_3}}</p>
						<p>{{SUB_INFO_LINE_4}}</p>
						<p>{{SUB_INFO_LINE_5}}</p>
						<ul class="list-unstyled">
							<li><i class="fa fa-caret-right pr-10 text-colored"></i> {{SUB_INFO_OPTION_1}}</li>
							<li><i class="fa fa-caret-right pr-10 text-colored"></i> {{SUB_INFO_OPTION_2}}</li>
							<li><i class="fa fa-caret-right pr-10 text-colored"></i> {{SUB_INFO_OPTION_3}}</li>
							<li><i class="fa fa-caret-right pr-10 text-colored"></i> {{SUB_INFO_OPTION_4}}</li>
							<li><i class="fa fa-caret-right pr-10 text-colored"></i> {{SUB_INFO_OPTION_5}}</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</script>